body {

	background-image: url("/C:/Users/tyfre/Desktop/code/homework/homework1/Basic-Portfolio/assets/images/background.png");
	margin:0;
	color: #777777;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	
}
 h1, h2{

	font-family: Georgia, Times, Times New Roman, serif; 
	color: #4aaaa5 ;
}

.content {

	margin-left: auto;
	margin-right:auto;
	height:450px;
	position: relative;
	width:960px;
	

}

.connect {

	border:solid #dddddd 1px;
	background-color: white;
	height:170px;
	width:270px;
	position:absolute;
	left: 715px;
	text-align: center;


}

.connect h2 {

	width:250px;
	border-bottom: solid #dddddd 2px;
	padding:10px;
	padding-top: 0px;
}

.connect image {

	padding-right: 50px;
}

footer {

   position:fixed;
   bottom:0;
   width:100%;
   height:70px;   /* Height of the footer */
   background:#666666;
   color: white;
   text-align: center;
   padding-top:10px;
   border-top: solid  #4aaaa5 8px ;
}


.main {

	background-color: white;
	border:solid  #dddddd 1px;
	width: 650px;
	height:450px;
	padding-left:25px;
	left:-100px;
	position: absolute;

}

.main h1 {

	border-bottom: solid #dddddd 2px;
	padding-bottom: 10px;
	width: 625px;

}
.img {

	float: left;
	padding: 10px;
}

.float {

	float: right;
	
}

p {
	line-height: 200%;
	padding: 5px;
}




.nav  {
	margin-bottom: 50px;
	width:100%;
	height:70px;
	background-color: #ffffff;
	border-top: solid white 1px;
	border-bottom: solid #cccccc 1px;
	position:relative;
}


#logo {

	
	background-color: #4aaaa5;
	width: 210px;
	height:110%;
	margin-top: -1px;
	margin-left:52px;
	left:135px;
	top:-22px;
	text-align: center;
	position: relative;
	
}

#name {

	padding-top:25px;
	font-size: 25px;
	color: white;
}


ul  {
	
	float: right;
	position: absolute;
	right: 316px;
	top: 10px;
	width: 200px;
}

li {

	display: inline-block;
	list-style-type: none;
	padding-right: 10px;
}


input {
	width: 90%;
	margin-top: 10px;
	color:#ecebec;

}


#form {

	height:500px;
}


#submit {
	width: 100px;
	height:30px;
	background-color: #4aaaa5 ;
	border: none;
	color:white;
	margin-top:0px;

}

textarea{
	color:#ecebec;


}
